<div class="container">
  <div class="row mt-3 mb-3">
    <div class="col-md-9">
      <h3>注文情報確認</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <table class= "table">
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td>
            <div class="form-inline">
              <%= attachment_image_tag cart_item.item, :image, fallback: "no-image.png", size: "50x50" %>
              <p class= "ml-3 mb-0"><%= cart_item.item.name %></p>
            </div>
          </td>
          <td>
            <p class= "mt-2"><%= tax_price(cart_item.item.price).to_s(:delimited) %></p>
          </td>
          <td>
            <div class="form-inline">
              <p class= "mb-0 mt-2"><%= cart_item.amount %></p>
            </div>
          </td>
          <td>
            <p class= "mt-2"><%= sub_price(cart_item).to_s(:delimited) %></p>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col-md-4">
      <table class= "table">
        <tr>
          <th>送料</th>
          <td></td>
        </tr>
        <tr>
          <th>合計金額</th>
          <td><%= total_price(@cart_items).to_s(:delimited) %></td>
        </tr>
        <tr>
          <th>請求金額</th>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <table class= "table">
        <tr>
          <th>支払い方法</th>
          <td></td>
        </tr>
         <tr>
          <th>お届け先</th>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>